<div>
<% if(!user) { %>
      <button id="login-button">Login</button>
      <form action="/user/login" class="login-user-form" method='post'>
        <label class="login-user hide-user first-form" for="">Email:</label>
        <input class="login-user hide-user first-form" type="text" name='email'><br>
        <label class="login-user hide-user first-form" for="">Password:</label>
        <input class="login-user hide-user first-form" type="password" name='password'><br>
        <input class="login-user hide-user first-form" type="submit" value='Login'>
      </form>
      <button id="create-button">Create User</button>
      <form action="/user/new" class="create-user-form first-form" method='post'>
        <label class="create-user hide-user first-form" for="">Name:</label>
        <input class="create-user hide-user first-form" type="text" name='name'><br>
        <label class="create-user hide-user first-form" for="">Email:</label>
        <input class="create-user hide-user first-form" type="text" name='email'><br>
        <label class="create-user hide-user first-form" for="">Password:</label>
        <input class="create-user hide-user first-form" type="password" name='password'><br>
        <input class="create-user hide-user first-form" type="submit" value='Create'>
      </form>
  <% } %>
</div>
