<header class="userbar">
  <input type="text" placeholder="Search for a Patient"><button>Search</button>
  <p>See your Data</p>
  <form action="/user/logout?_method=DELETE" method='post'>
    <input type="submit" value="logout">
  </form>
</header>
