<header class="userbar">
  <form id="searchForm" >
    <input type="text" name="patientName" placeholder="Search for a Patient">
    <input type="submit" value="search">
  </form>
  <form action="/user/logout?_method=DELETE" method='post'>
    <input type="submit" value="logout">
  </form>

  <div id="results">
  </div>
</header>
