<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
</head>
<body>
    <% if(!user){ %>
    <h1>Welcome to HealthView</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quam labore laudantium qui tempore molestias nesciunt, ipsum maiores quasi, totam sunt ipsam, ex in earum voluptas itaque cumque modi! Doloribus.</p>
    <% include /partials/login %>
    <% } else { %>
    <% include /partials/userbar %>
    <h1>Welcome, <%= user.name %></h1>
    <div>
      <h2></h2>
      <a href="/patient/new"><button id="create-user">Add a Patient</button></a>
      <% if (patientObject) { %>
        <% patientObject.forEach(function(patient){ %>
          <a href="/patient/<%=patient._id%>" ><p><%= patient.name %></p></a>
        <% }) %>
      <% } %>
    </div>
    <% } %>

</body>
</html>
