body {
  background-color: powderblue;
  font-family: helvetica;
  margin: 0;
  font-family: 'Arimo';
  color: rgb(50,50,50);
}

h1 {
  text-align: center;
}

button {
  padding:5px 15px;
  background: rgb(180,180,180);
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
}

input[type=submit] {
  padding:5px 15px;
  background:rgb(180,180,180);
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
}



a {
  color: rgb(40,40,40);
  text-decoration:none;
}
/* USERBAR PARTIAL */
.userbar {
  display: block;
  background-color: rgba(0,0,0,0.1);
  height: 35px;
  width: 100%;
}

#search-form {
  display: inline;
  position: absolute;
  right: 211px;
}

#patient-search {
  position: relative;
  display: inline-block;
  font-size:11px;
  padding: 4px;
  top: 6px;
  width: 140px;
}

#search-button {
  display: inline-block;
  position: relative;
  top: 7px;
}

#home-icon {
  display: inline-flex;
  margin: 0 5px;
  font-size: 29px;
  text-decoration: none;
  color: black;
}

#logout-button {
  display: inline-block;
  right: 10px;
  position: absolute;
  margin: 7px 0;
}

#data-button {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 87px;
}

/*notes modal stuff*/
.notes-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.notes-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.notes-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/*HOME PAGE*/

.main-container {
  margin-left:1px;
  position: relative;
}

#appointment-column {
  text-align: center;
  display:inline-block;
  width: 50%;
  position: absolute;
  left: 0;
}

#appt-header {
  margin: 20px auto 0;
}

#date-spot {
  display: inline-block;
  margin: 10px;
}

#date-input {
  height: 20px;
  width: 140px;
}

#date-search-form {
  position: relative;
  display: none;
  margin: 8.5px;
}

#date-search-close {
  position: absolute;
  display: none;
  float: left;
  margin-top: -40px;
  left: 400px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

#check-date {
  position: absolute;
  margin: 9px 6px;
}

.appt-patient {
  height: 50px;
  border: 1px solid rgb(110,110,110);
  border-left: none;
  margin-top: -1px;
  background-color: rgba(0,0,0,0.1);
}

.check-in-name {
  display: inline-block;
  left: 0px;
  margin: 15px;
}

.check-in-button {
  display: block;
  position: absolute;
  right:0;
  margin: 15px;
}

#notes-column {
  text-align: center;
  display:inline-block;
  width: 50%;
  position: absolute;
  right: 1px;
}

#spaceholder {
  height:22px;
}

.notes-patient {
  height: 50px;
  border: 1px solid rgb(110,110,110);
  border-right: none;
  margin-top:-1px;
  background-color: rgba(0,0,0,0.1);
}

.add-note-button {
  display: block;
  position: absolute;
  right:0;
  margin: 15px;
}

.hide-user {
  display:none;
}

.check-in-name {
  display: inline-block;
}

.check-in-button {
  display: inline-block;
}

.add-note-name {
  display: inline-block;
}

.add-note-button {
  display: inline-block;
}

#create-user {
  display: block;
  margin: 20px auto;
}


/*search modal stuff*/
.search-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.search-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.search-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* date search modal stuff */
.date-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.date-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.date-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/* PATIENT VIEW PAGE */

.patient-column {
  text-align: center;
  width: 60%;
  position: absolute;
  display: inline;
  left: 0;
}

.notes-column {
  text-align: center;
  width: 40%;
  position: absolute;
  display: inline;
  right: 0;
}

.note-box {
  border: 0.5px solid rgb(110,110,110);
  padding: 5px;
  margin: 0 15px;
  background-color: rgba(0,0,0,0.1);
  margin-top: -.5px;
}

/*schedule modal stuff*/
.schedule-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.schedule-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.schedule-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
